.profileContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
}
.roundImg {
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 50%;
  box-shadow: 10%;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px rgb(137, 163, 137));
}

.profileContainerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
