* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: rgb(0, 134, 116);
  text-decoration: none;
}
a:hover {
  color: rgb(10, 39, 70);
}
h4 {
  color: rgb(8, 33, 60);
}
p {
  color: rgb(0, 134, 116);
}
